<div class="panel panel-default">
	<div class="panel-heading">
		Categories
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="cat in categories">
				<input type="checkbox" ng-model="cat.subscribed">
				<span>//cat.name//</span>
				<span class="badge">//cat.day_counter//</span>
				<span class="badge">//cat.week_counter//</span>
				<span class="badge">//cat.month_counter//</span>
				<button ng-show="!cat.filtered" class="btn btn-info pull-right" ng-click="filterByCategory(cat)">Filter</button>
				<button ng-show="cat.filtered" class="btn btn-warning pull-right" ng-click="filterByCategory(cat)">Unfilter</button>
			</li>
		</ul>
		<button class="btn btn-success" ng-click="applySubscriptions()">
			Apply subscriptions
		</button>
	</div>
</div>